* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #eee;
    font-family: sans-serif;
}

.container {
    width: 737px;
    height: 935px;
    position: relative;
    margin: 0 auto;
}

.container img {
    display: inline-block;
    border-bottom: solid 5px rgb(235, 89, 89);
}

.container h1 {
    color: white;
    font-size: 23px;
    text-align: center;
    line-height: 1.6;
    max-width: 580px;
    position: absolute;
    bottom: 180px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.container h2 {
    text-align: center;
    font-weight: lighter;
    color: white;
    max-width: 400px;
    font-size: 17px;
    line-height: 1.5;
    position: absolute;
    bottom: 100px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.container h3 {
    text-align: center;
    color: rgb(231, 96, 96);
    font-size: 15px;
    position: absolute;
    bottom: 45px;
    margin: 0 auto;
    left: 0;
    right: 0;
}