* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #eee;
    font-family: sans-serif;
}

.container {
    margin:0 auto;
    background-color: rgb(245, 245, 245);
    position: relative;
    width: 1050px;
    height: 375px;
}

.embed-video {
    display: inline-block;
}

.embed-video iframe {
    width: 675px;
    height: 375px;
}

.content {
    display: inline-block;
    position: absolute;
    text-align: left;
    width: 375px;
    height: 375px;
    line-height: 375px;
}

.display-center {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    line-height: 1.5;
    padding-left: 30px;
    padding-right: 60px;
}

h1 {
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 30px;
}

p {
    font-size: 16px;
    padding-bottom: 30px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}